{% extends 'base.html' %}
{% block content %}
<div class="row">
   <div class="col-sm-12">
      <div class="card">
         <div class="card-body">
            <form method="post" action="{% url 'update_branch' %}" >
               {% csrf_token %}
               <div class="col-12">
                  <h5 class="form-title"><span>Edit Branch</span></h5>
               </div>
               {% include 'includes/messages.html' %}
               <div class="col-12 col-sm-6">
                  <div class="form-group">
                     <label>Branch Name</label>
                     <input type="text" class="form-control" name="name" value="{{branch.name}}"required>
                     <input type="text" class="form-control" name="branch_id" value="{{branch.id}}" hidden>
                  </div>
               </div>

               <div class="col-12">
                  <button type="submit" class="btn btn-primary">Update Branch</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}